<!DOCTYPE html>
<html>

<head>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

  <style rel="stylesheet">
    .redondo{
      border-radius: 20px 20px 20px 20px;
    }
  </style>
  <title>Inicio | NationGamer</title>
</head>

<body
  style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdU9D07HDPDec_r08jAfFS2VjcGxqLT0nM2Q&usqp=CAU);">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="/"><img
        src="https://cdn.pixabay.com/photo/2016/11/19/00/10/gamepad-1837422_960_720.png"
        style="width:150px; height:80px" alt="logo"></a>
    <br>
    <a class="navbar-brand" href="/">NationGamer</a>

    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
          </li>
          <!-- <li class="nav-item">
              <a class="nav-link active"   aria-current="page" href="/mygames">Mis Juegos</a>
            </li> -->
        </ul>
        <ul>
          <li class="navbar-text">
            <a class="nav-link active" aria-current="page" href="/create">Registrate</a>
          </li>
        </ul>
        <ul>
          <li class="navbar-text">
            <a class="nav-link active" aria-current="page" href="login">Iniciar Sesion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>

<div class="container-md">

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
    </ol>

    <h2 class="text-center text-white">¡Bienvenido a | NationGamer!</h2>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i0.wp.com/www.mundoplayers.com/wp-content/uploads/2019/05/halo-5-guardians_1.jpg?w=1064&ssl=1" class="d-block w-100 redondo" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>H A L O  5</h5>
          <p>Uno de los juegos más innovadores de todos los tiempos.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.blogs.es/70c8a4/backcompatibility_visid_comingsoon-ca2f/450_1000.png" class="d-block w-100 redondo" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>GEARS OF WARS 3</h5>
          <p>Gears of War es un videojuego de disparos en tercera persona, del género acción-aventura y estrategia, desarrollado por Epic Games utilizando el motor de videojuego Unreal Engine 3.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.blogs.es/0af906/gearstactics1/1366_2000.jpeg" class="d-block w-100 redondo" alt="...">
        <div class="carousel-caption d-none d-md-block ">
          <h5>GEARS OF WARS 4</h5>
          <p>Gears of War 4 o Gears 4 es un videojuego de acción y shooter en tercera persona desarrollado por The Coalition y distribuido por Microsoft lanzado el 11 de octubre de 2016 para Xbox One y Windows 10</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>

</div>

<br><br>
  <h2 class="text-center text-white">¡Busca los JUEGOS mejor recomendados!</h2>
  <br>
  <form class="d-flex" action="/" method="POST" style="padding-left: 25rem;">
    <input class="form-control" name="busqueda" style="width: 500px;" type="search" placeholder="Titulo del juego" aria-label="Search">
    <button class="btn btn-success" type="submit">Buscar</button>
  </form>
  <br>
  <div class="container">
    <% results.forEach((juego)=> { %>
      <div class="card mb-3" style="max-width: 1020px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="<%=juego.imagen %>"  style="width:210px; height:280px" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title"><%=juego.titulo %></h5>
              <p class="card-text"><%=juego.descripcion %></p>
              <p class="card-text"  > <strong>  Este juego ha sido recomendo <%=juego.reco %> veces </strong></p>
              <p class="card-text" hidden><%=juego.id_juegos %></p>
            </div>
          </div>
        </div>
      </div>
      <%})%>
  </div><br>
  <!-- Footer -->
  <footer class="bg-dark text-white text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">ACERCA DE NOSOTROS</h5>

          <p>
            ¡Bienvenido a nuestro sitio web! Somos una empresa dedicada completamente a las recomendaciones de
            videojuegos. Nuestro objetivo es llegar a millones de personas a través de nuestras recomendaciones.
          </p>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2021 Copyright by
      <a class="text-white" href="https://www.facebook.com/GHOSHBABU22">NationGamer & Lletrox Company</a>
    </div>
    <!-- Copyright -->
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </script>
</body>

</html>